@{
   // ViewBag.Title = "Manage Account";
    Layout = null;
}

<p>
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>



<form data-ng-submit="sendForm()"  novalidate>
    <fieldset>
        <legend>Set Password Form</legend>
        <ul>
         <li id="errorMessages" class="error" data-ng-repeat="error in errors">{{error}}</li></ul>
        <div class="error" style="color:#0EA008">{{message}}</div>
        <div style="margin-top: 5px;">
            <div style="float: left; width: 20%; margin-left: 15%;">
              <label for="UserName">New Password</label>
            </div>

            <div style="float: left; width: 20%; margin-left: 15%;">
                <input  id="NewPassword" name="NewPassword" type="password" data-ng-model="Password.NewPassword" placeholder = "Enter New Password">
             <span class="error" data-ng-show="mainForm.NewPassword.$error.required">*</span>
            </div>
            
        </div>

        <div style="clear: both;"></div>
        <div style="margin-top: 5px;">
            <div style="float: left; width: 20%; margin-left: 15%;">
                 <label for="UserName">Confirm Password</label>
            </div>
            <div style="float: left; width: 20%; margin-left: 15%;">
              <input  id="ConfirmPassword" name="ConfirmPassword" type="password" data-ng-model="Password.ConfirmPassword" placeholder = "ReEnter Password">
                     <span class="error" data-ng-show="mainForm.ConfirmPassword.$error.required">*</span>
            </div>
           
        </div>
        <div style="clear: both;"></div>
        <div style="clear: both;"></div>
         <li id="errorMessages" class="error" data-ng-repeat="error in errors">{{error}}</li>
        <div style="float: right; width: 20%; margin: 3% 13%;">
            <button type="submit" class="btn btn-primary" data-ng-disabled="mainForm.$invalid">Set password</button>
            </div>
        
    </fieldset>
    </form>